
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <header>
        <a asp-controller="Customer" asp-action="LogOut">Log Out</a>
    </header>
    <h1>Welcome @ViewBag.Username</h1>
</body>
</html>
